*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1e1e1e;
    color: white;

}
/* Header & Menu Bar */
.header{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #1e1e1e;
    margin-bottom: 20px;
    height: auto;
    -moz-box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
    box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
}
.logo{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.logo img{
    margin-left: 1em;
    margin-top: 1em;
    height: auto;
    width: 200px;
}
.menu-bar{
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

.menu-bar ul{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    list-style: none;
    margin-top: 30px;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;

}

.menu-bar ul li{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 25px;
}

.menu-bar ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

.menu-bar ul li i{
    font-size: 18px;
    padding-right: 5px;
    position: relative;
    top: -2px;
    color: #aa0202;
}

.menu-bar ul li a:hover{
    text-decoration: underline;
}

.menu-bar ul li a:visited{
    color: white;
}

/* Dropdown Menu Test*/

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: white;
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px !important;
    display: block;
}

.dropdown-content a:first-child{margin-top: 15px;}
.dropdown-content a:last-child{margin-bottom: 15px;}

.dropdown-content a i{font-size: 20px !important;}

.dropdown-content a:active, a:hover {background-color: #1e1e1e}

/* Show the dropdown menu on hover */
.dropdown:active, .dropdown:hover .dropdown-content {display: block;}

/* Content */

.content {
    margin-left: 20%;
    margin-right:20%;
    padding-top: 30px;
    line-height: 1.5em;
}

.content-box{
    -moz-box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
    box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
    background-color: #1e1e1e;
    margin-bottom: 20px;
    padding: 5px;
}
.content-box-title {
    font-size: 30px;
    padding-bottom: 15px;
}
.content-box p{
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.content-box a{
    display: inline-block;
    line-height: 1em;
    padding: 6px 15px;
    border-radius: 15px;
    background: white;
    color: #aa0202;;
    text-shadow: 0 1px white;
    text-decoration: none;
    margin: 5px;
}

.content-box a:visited{
    text-decoration: none;
    color: #aa0202;;
}

.intro h2{
    padding: 5px;
}

/* News */

.news{
    padding: 10px;
    padding-top: 20px;
}

.news-post{
    background-color: #1e1e1e;
    margin-top: 15px;
    -moz-box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
    box-shadow: 0 2px 5px 0 rgba(255,255,255,.16), 0 2px 10px 0 rgba(255,255,255,.12);
}

.news-post-img img{
    width:100%;
    height:300px;
    object-fit: cover;
}

.news-post-title{
    font-size: 30px;
    line-height: 1.5em;
    padding: 5px;
}

.news-post-content{
    padding: 6px;
}

.news-post-content p {
    padding-bottom: 10px;
}
.news-post-content ul{
    padding-left: 20px;
}


.news-post-readmore a{
    display: inline-block;
    line-height: 1em;
    padding: 6px 15px;
    border-radius: 15px;
    background: white;
    color: black;
    text-shadow: 0 1px #1e1e1e;
    text-decoration: none;
    margin: 5px;
}

.news-post-readmore a:visited{
    text-decoration: none;
    color: black;
}

/* Social Media Footer */

.social-media-box{
    background-color: #1e1e1e;
    margin-top: 15px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

.social-media-box a i {
    color: #aa0202;
    font-size: 40px;
    padding-left: 20px;
}

@media all and (max-width:840px){
    .header{
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        text-align: center;
        flex-flow: column wrap;
    }
    
    .logo{
        padding: 18px 0 0;
    }
    .logo img{
        margin-left: 1em;
        margin-top: 1em;
        height: auto;
        width: 300px;
    }
    .menu-bar ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }
    .menu-bar ul li{
        padding-top: 10px;
        flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        
    }
}